<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-seat-type-heading">Create or edit a Seat Type</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!seatType.id">
                    <label for="id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="seatType.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_type">Type</label>
                    <select class="form-control" name="type" [(ngModel)]="seatType.type" id="field_type" >
                        <option value="LUXURY">LUXURY</option>
                        <option value="GENERAL">GENERAL</option>
                        <option value="BALCONY">BALCONY</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_price">Price</label>
                    <input type="text" class="form-control" name="price" id="field_price"
                        [(ngModel)]="seatType.price" />
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_screen">Screen</label>
                    <select class="form-control" id="field_screen" name="screen" [(ngModel)]="seatType.screenId" >
                        <option [ngValue]="null"></option>
                        <option [ngValue]="screenOption.id" *ngFor="let screenOption of screens; trackBy: trackScreenById">{{screenOption.id}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span>Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span>Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
