<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="screen">
            <h2><span>Screen</span> {{screen.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Name</span></dt>
                <dd>
                    <span>{{screen.name}}</span>
                </dd>
                <dt><span>Theatre</span></dt>
                <dd>
                    <div *ngIf="screen.theatreId">
                        <a [routerLink]="['/theatre', screen.theatreId, 'view']">{{screen.theatreId}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/screen', screen.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
