<div>
    <h2 id="page-heading">
        <span>Rows</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-row" [routerLink]="['/row/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span >
            Create new Row
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="rows">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span>ID</span></th>
            <th><span>Serial Number</span></th>
            <th><span>Start Pos</span></th>
            <th><span>Price</span></th>
            <th><span>Name</span></th>
            <th><span>Seat</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let row of rows ;trackBy: trackId">
                <td><a [routerLink]="['/row', row.id, 'view' ]">{{row.id}}</a></td>
                <td>{{row.serialNumber}}</td>
                <td>{{row.startPos}}</td>
                <td>{{row.price}}</td>
                <td>{{row.name}}</td>
                <td>
                    <div *ngIf="row.seatId">
                        <a [routerLink]="['../seat', row.seatId , 'view' ]" >{{row.seatId}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/row', row.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/row', row.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'row/'+ row.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
