<div>
    <h2 id="page-heading">
        <span>Shows</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-show" [routerLink]="['/show/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span >
            Create new Show
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="shows">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span>ID</span></th>
            <th><span>Time</span></th>
            <th><span>Screen</span></th>
            <th><span>Movie</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let show of shows ;trackBy: trackId">
                <td><a [routerLink]="['/show', show.id, 'view' ]">{{show.id}}</a></td>
                <td>{{show.time | date:'medium'}}</td>
                <td>
                    <div *ngIf="show.screenId">
                        <a [routerLink]="['../screen', show.screenId , 'view' ]" >{{show.screenId}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="show.movieId">
                        <a [routerLink]="['../movie', show.movieId , 'view' ]" >{{show.movieId}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/show', show.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/show', show.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'show/'+ show.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
