<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-show-heading">Create or edit a Show</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!show.id">
                    <label for="id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="show.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_time">Time</label>
                    <div class="d-flex">
                        <input id="field_time" type="datetime-local" class="form-control" name="time" [(ngModel)]="time"
                        />
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_screen">Screen</label>
                    <select class="form-control" id="field_screen" name="screen" [(ngModel)]="show.screenId" >
                        <option [ngValue]="null"></option>
                        <option [ngValue]="screenOption.id" *ngFor="let screenOption of screens; trackBy: trackScreenById">{{screenOption.id}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_movie">Movie</label>
                    <select class="form-control" id="field_movie" name="movie" [(ngModel)]="show.movieId" >
                        <option [ngValue]="null"></option>
                        <option [ngValue]="movieOption.id" *ngFor="let movieOption of movies; trackBy: trackMovieById">{{movieOption.id}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span>Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span>Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
